USE [Pluxy3dDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carrito_items]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carrito_items](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[carrito_id] [int] NULL,
	[impresora_id] [int] NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [PK__carrito___52020FDD15942EA5] PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carritos]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carritos](
	[carrito_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [uniqueidentifier] NULL,
	[fecha_actualizacion] [datetime] NULL,
 CONSTRAINT [PK__carritos__8647FB0916512604] PRIMARY KEY CLUSTERED 
(
	[carrito_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categorias_productos]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias_productos](
	[categoria_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[descripcion] [varchar](255) NULL,
 CONSTRAINT [PK__categori__DB875A4FF877F55C] PRIMARY KEY CLUSTERED 
(
	[categoria_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[componentes_personalizables]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[componentes_personalizables](
	[componente_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[descripcion] [varchar](255) NULL,
	[tipo] [varchar](100) NULL,
 CONSTRAINT [PK__componen__7480EE8F96F73AEE] PRIMARY KEY CLUSTERED 
(
	[componente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[consultas_contacto]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consultas_contacto](
	[consulta_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[email] [varchar](150) NULL,
	[mensaje] [text] NULL,
	[fecha] [datetime] NULL,
 CONSTRAINT [PK__consulta__BBB59BD855340A4D] PRIMARY KEY CLUSTERED 
(
	[consulta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_venta]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_venta](
	[detalle_id] [int] IDENTITY(1,1) NOT NULL,
	[venta_id] [int] NULL,
	[impresora_id] [int] NULL,
	[cantidad] [int] NULL,
	[precio_unitario] [decimal](10, 2) NULL,
 CONSTRAINT [PK__detalle___91B12E7087ED20B4] PRIMARY KEY CLUSTERED 
(
	[detalle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[direcciones_usuarios]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[direcciones_usuarios](
	[direccion_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [uniqueidentifier] NULL,
	[provincia] [varchar](100) NULL,
	[ciudad] [varchar](100) NULL,
	[calle] [varchar](200) NULL,
	[codigo_postal] [varchar](20) NULL,
	[es_principal] [bit] NULL,
 CONSTRAINT [PK__direccio__3CE1758CA4ADA568] PRIMARY KEY CLUSTERED 
(
	[direccion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados_venta]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados_venta](
	[estado_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK__estados___053774EF0D8DF71A] PRIMARY KEY CLUSTERED 
(
	[estado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favoritos_usuarios]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favoritos_usuarios](
	[favorito_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [uniqueidentifier] NULL,
	[producto_id] [int] NULL,
 CONSTRAINT [PK__favorito__B8BA20CA91C0EAE8] PRIMARY KEY CLUSTERED 
(
	[favorito_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historial_navegacion]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historial_navegacion](
	[historial_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [uniqueidentifier] NULL,
	[pagina] [varchar](255) NULL,
	[fecha] [datetime] NULL,
 CONSTRAINT [PK__historia__68FE18EE9C5C8CFA] PRIMARY KEY CLUSTERED 
(
	[historial_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[impresoras_personalizadas]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[impresoras_personalizadas](
	[impresora_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [uniqueidentifier] NULL,
	[producto_id] [int] NULL,
	[nombre_personalizado] [varchar](100) NULL,
	[fecha_creacion] [datetime] NULL,
	[total_final] [decimal](10, 2) NULL,
 CONSTRAINT [PK__impresor__2BDA8F2755B6A4E9] PRIMARY KEY CLUSTERED 
(
	[impresora_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logs_ia]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logs_ia](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [uniqueidentifier] NULL,
	[pregunta_usuario] [text] NULL,
	[respuesta_id] [int] NULL,
	[fecha] [datetime] NULL,
 CONSTRAINT [PK__logs_ia__9E2397E08801C21A] PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medios_pago]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medios_pago](
	[medio_pago_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[activo] [bit] NULL,
 CONSTRAINT [PK__medios_p__56065D0527EE448D] PRIMARY KEY CLUSTERED 
(
	[medio_pago_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mensajes_ticket]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mensajes_ticket](
	[mensaje_id] [int] IDENTITY(1,1) NOT NULL,
	[ticket_id] [int] NULL,
	[usuario_id] [uniqueidentifier] NULL,
	[contenido] [text] NULL,
	[fecha_envio] [datetime] NULL,
 CONSTRAINT [PK__mensajes__6B304DCDEFFC63D8] PRIMARY KEY CLUSTERED 
(
	[mensaje_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[newsletter_suscripciones]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[newsletter_suscripciones](
	[suscripcion_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](150) NULL,
	[fecha_alta] [datetime] NULL,
	[activo] [bit] NULL,
 CONSTRAINT [PK__newslett__855431D0987B0979] PRIMARY KEY CLUSTERED 
(
	[suscripcion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[opciones_componentes]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[opciones_componentes](
	[opcion_id] [int] IDENTITY(1,1) NOT NULL,
	[componente_id] [int] NULL,
	[nombre] [varchar](100) NULL,
	[precio_adicional] [decimal](10, 2) NULL,
	[imagen_url] [varchar](255) NULL,
 CONSTRAINT [PK__opciones__FFA6A8F8F0655382] PRIMARY KEY CLUSTERED 
(
	[opcion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagos]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos](
	[pago_id] [int] IDENTITY(1,1) NOT NULL,
	[venta_id] [int] NULL,
	[medio_pago_id] [int] NULL,
	[fecha_pago] [datetime] NULL,
	[monto] [decimal](10, 2) NULL,
	[estado] [varchar](50) NULL,
 CONSTRAINT [PK__pagos__FFF0A58E3A93F693] PRIMARY KEY CLUSTERED 
(
	[pago_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[producto_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[descripcion] [varchar](500) NULL,
	[precio_base] [decimal](10, 2) NULL,
	[stock] [int] NULL,
	[categoria_id] [int] NULL,
	[visible] [bit] NULL,
	[image] [nvarchar](max) NULL,
 CONSTRAINT [PK__producto__FB5CEEECEE4023FE] PRIMARY KEY CLUSTERED 
(
	[producto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[resenas_productos]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resenas_productos](
	[resena_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [uniqueidentifier] NULL,
	[producto_id] [int] NULL,
	[puntaje] [int] NULL,
	[comentario] [text] NULL,
	[fecha] [datetime] NULL,
 CONSTRAINT [PK__resenas___642724501C1F752B] PRIMARY KEY CLUSTERED 
(
	[resena_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[respuestas_ia]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[respuestas_ia](
	[respuesta_id] [int] IDENTITY(1,1) NOT NULL,
	[pregunta_clave] [varchar](255) NULL,
	[respuesta_texto] [text] NULL,
 CONSTRAINT [PK__respuest__5D54E93D4E4C9077] PRIMARY KEY CLUSTERED 
(
	[respuesta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[rol_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](255) NULL,
 CONSTRAINT [PK__roles__CF32E443E00AD312] PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[simple_cart_items]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[simple_cart_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[producto_id] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_simple_cart_items] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tickets_soporte]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tickets_soporte](
	[ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [uniqueidentifier] NULL,
	[asunto] [varchar](255) NULL,
	[estado] [varchar](50) NULL,
	[fecha_creacion] [datetime] NULL,
 CONSTRAINT [PK__tickets___D596F96BFDB74479] PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario_roles]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario_roles](
	[usuario_id] [uniqueidentifier] NOT NULL,
	[rol_id] [int] NOT NULL,
 CONSTRAINT [PK__usuario___0224FCEB9141F2BA] PRIMARY KEY CLUSTERED 
(
	[usuario_id] ASC,
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[usuario_id] [uniqueidentifier] NOT NULL,
	[nombre] [varchar](100) NULL,
	[apellido] [varchar](100) NULL,
	[email] [varchar](150) NULL,
	[password_hash] [varchar](255) NULL,
	[fecha_registro] [datetime] NULL,
	[activo] [bit] NULL,
 CONSTRAINT [PK__usuarios__2ED7D2AFB0688E30] PRIMARY KEY CLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 28/8/2025 19:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas](
	[venta_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [uniqueidentifier] NULL,
	[fecha_venta] [datetime] NULL,
	[total] [decimal](10, 2) NULL,
	[estado_id] [int] NULL,
	[direccion_envio_id] [int] NULL,
 CONSTRAINT [PK__ventas__B135080906DF1020] PRIMARY KEY CLUSTERED 
(
	[venta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[carrito_items]  WITH CHECK ADD  CONSTRAINT [FK__carrito_i__carri__534D60F1] FOREIGN KEY([carrito_id])
REFERENCES [dbo].[carritos] ([carrito_id])
GO
ALTER TABLE [dbo].[carrito_items] CHECK CONSTRAINT [FK__carrito_i__carri__534D60F1]
GO
ALTER TABLE [dbo].[carrito_items]  WITH CHECK ADD  CONSTRAINT [FK__carrito_i__impre__5441852A] FOREIGN KEY([impresora_id])
REFERENCES [dbo].[impresoras_personalizadas] ([impresora_id])
GO
ALTER TABLE [dbo].[carrito_items] CHECK CONSTRAINT [FK__carrito_i__impre__5441852A]
GO
ALTER TABLE [dbo].[carritos]  WITH CHECK ADD  CONSTRAINT [FK__carritos__usuari__5070F446] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([usuario_id])
GO
ALTER TABLE [dbo].[carritos] CHECK CONSTRAINT [FK__carritos__usuari__5070F446]
GO
ALTER TABLE [dbo].[detalle_venta]  WITH CHECK ADD  CONSTRAINT [FK__detalle_v__impre__6383C8BA] FOREIGN KEY([impresora_id])
REFERENCES [dbo].[impresoras_personalizadas] ([impresora_id])
GO
ALTER TABLE [dbo].[detalle_venta] CHECK CONSTRAINT [FK__detalle_v__impre__6383C8BA]
GO
ALTER TABLE [dbo].[detalle_venta]  WITH CHECK ADD  CONSTRAINT [FK__detalle_v__venta__628FA481] FOREIGN KEY([venta_id])
REFERENCES [dbo].[ventas] ([venta_id])
GO
ALTER TABLE [dbo].[detalle_venta] CHECK CONSTRAINT [FK__detalle_v__venta__628FA481]
GO
ALTER TABLE [dbo].[direcciones_usuarios]  WITH CHECK ADD  CONSTRAINT [FK__direccion__usuar__403A8C7D] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([usuario_id])
GO
ALTER TABLE [dbo].[direcciones_usuarios] CHECK CONSTRAINT [FK__direccion__usuar__403A8C7D]
GO
ALTER TABLE [dbo].[favoritos_usuarios]  WITH CHECK ADD  CONSTRAINT [FK__favoritos__produ__02084FDA] FOREIGN KEY([producto_id])
REFERENCES [dbo].[productos] ([producto_id])
GO
ALTER TABLE [dbo].[favoritos_usuarios] CHECK CONSTRAINT [FK__favoritos__produ__02084FDA]
GO
ALTER TABLE [dbo].[favoritos_usuarios]  WITH CHECK ADD  CONSTRAINT [FK__favoritos__usuar__01142BA1] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([usuario_id])
GO
ALTER TABLE [dbo].[favoritos_usuarios] CHECK CONSTRAINT [FK__favoritos__usuar__01142BA1]
GO
ALTER TABLE [dbo].[historial_navegacion]  WITH CHECK ADD  CONSTRAINT [FK__historial__usuar__7E37BEF6] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([usuario_id])
GO
ALTER TABLE [dbo].[historial_navegacion] CHECK CONSTRAINT [FK__historial__usuar__7E37BEF6]
GO
ALTER TABLE [dbo].[impresoras_personalizadas]  WITH CHECK ADD  CONSTRAINT [FK__impresora__produ__4D94879B] FOREIGN KEY([producto_id])
REFERENCES [dbo].[productos] ([producto_id])
GO
ALTER TABLE [dbo].[impresoras_personalizadas] CHECK CONSTRAINT [FK__impresora__produ__4D94879B]
GO
ALTER TABLE [dbo].[impresoras_personalizadas]  WITH CHECK ADD  CONSTRAINT [FK__impresora__usuar__4CA06362] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([usuario_id])
GO
ALTER TABLE [dbo].[impresoras_personalizadas] CHECK CONSTRAINT [FK__impresora__usuar__4CA06362]
GO
ALTER TABLE [dbo].[logs_ia]  WITH CHECK ADD  CONSTRAINT [FK__logs_ia__respues__75A278F5] FOREIGN KEY([respuesta_id])
REFERENCES [dbo].[respuestas_ia] ([respuesta_id])
GO
ALTER TABLE [dbo].[logs_ia] CHECK CONSTRAINT [FK__logs_ia__respues__75A278F5]
GO
ALTER TABLE [dbo].[logs_ia]  WITH CHECK ADD  CONSTRAINT [FK__logs_ia__usuario__74AE54BC] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([usuario_id])
GO
ALTER TABLE [dbo].[logs_ia] CHECK CONSTRAINT [FK__logs_ia__usuario__74AE54BC]
GO
ALTER TABLE [dbo].[mensajes_ticket]  WITH CHECK ADD  CONSTRAINT [FK__mensajes___ticke__6EF57B66] FOREIGN KEY([ticket_id])
REFERENCES [dbo].[tickets_soporte] ([ticket_id])
GO
ALTER TABLE [dbo].[mensajes_ticket] CHECK CONSTRAINT [FK__mensajes___ticke__6EF57B66]
GO
ALTER TABLE [dbo].[mensajes_ticket]  WITH CHECK ADD  CONSTRAINT [FK__mensajes___usuar__6FE99F9F] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([usuario_id])
GO
ALTER TABLE [dbo].[mensajes_ticket] CHECK CONSTRAINT [FK__mensajes___usuar__6FE99F9F]
GO
ALTER TABLE [dbo].[opciones_componentes]  WITH CHECK ADD  CONSTRAINT [FK__opciones___compo__49C3F6B7] FOREIGN KEY([componente_id])
REFERENCES [dbo].[componentes_personalizables] ([componente_id])
GO
ALTER TABLE [dbo].[opciones_componentes] CHECK CONSTRAINT [FK__opciones___compo__49C3F6B7]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [FK__pagos__medio_pag__693CA210] FOREIGN KEY([medio_pago_id])
REFERENCES [dbo].[medios_pago] ([medio_pago_id])
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [FK__pagos__medio_pag__693CA210]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [FK__pagos__venta_id__68487DD7] FOREIGN KEY([venta_id])
REFERENCES [dbo].[ventas] ([venta_id])
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [FK__pagos__venta_id__68487DD7]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK__productos__categ__44FF419A] FOREIGN KEY([categoria_id])
REFERENCES [dbo].[categorias_productos] ([categoria_id])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK__productos__categ__44FF419A]
GO
ALTER TABLE [dbo].[resenas_productos]  WITH CHECK ADD  CONSTRAINT [FK__resenas_p__produ__797309D9] FOREIGN KEY([producto_id])
REFERENCES [dbo].[productos] ([producto_id])
GO
ALTER TABLE [dbo].[resenas_productos] CHECK CONSTRAINT [FK__resenas_p__produ__797309D9]
GO
ALTER TABLE [dbo].[resenas_productos]  WITH CHECK ADD  CONSTRAINT [FK__resenas_p__usuar__787EE5A0] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([usuario_id])
GO
ALTER TABLE [dbo].[resenas_productos] CHECK CONSTRAINT [FK__resenas_p__usuar__787EE5A0]
GO
ALTER TABLE [dbo].[tickets_soporte]  WITH CHECK ADD  CONSTRAINT [FK__tickets_s__usuar__6C190EBB] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([usuario_id])
GO
ALTER TABLE [dbo].[tickets_soporte] CHECK CONSTRAINT [FK__tickets_s__usuar__6C190EBB]
GO
ALTER TABLE [dbo].[usuario_roles]  WITH CHECK ADD  CONSTRAINT [FK__usuario_r__rol_i__3D5E1FD2] FOREIGN KEY([rol_id])
REFERENCES [dbo].[roles] ([rol_id])
GO
ALTER TABLE [dbo].[usuario_roles] CHECK CONSTRAINT [FK__usuario_r__rol_i__3D5E1FD2]
GO
ALTER TABLE [dbo].[usuario_roles]  WITH CHECK ADD  CONSTRAINT [FK__usuario_r__usuar__3C69FB99] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([usuario_id])
GO
ALTER TABLE [dbo].[usuario_roles] CHECK CONSTRAINT [FK__usuario_r__usuar__3C69FB99]
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD  CONSTRAINT [FK__ventas__direccio__5FB337D6] FOREIGN KEY([direccion_envio_id])
REFERENCES [dbo].[direcciones_usuarios] ([direccion_id])
GO
ALTER TABLE [dbo].[ventas] CHECK CONSTRAINT [FK__ventas__direccio__5FB337D6]
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD  CONSTRAINT [FK__ventas__estado_i__5EBF139D] FOREIGN KEY([estado_id])
REFERENCES [dbo].[estados_venta] ([estado_id])
GO
ALTER TABLE [dbo].[ventas] CHECK CONSTRAINT [FK__ventas__estado_i__5EBF139D]
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD  CONSTRAINT [FK__ventas__usuario___5DCAEF64] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([usuario_id])
GO
ALTER TABLE [dbo].[ventas] CHECK CONSTRAINT [FK__ventas__usuario___5DCAEF64]
GO
